<% provide(:title, "Add Videos") %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <h1 class="page-heading">You'll be Internet famous</h1>
    <p class="subtitle">
      Link to your band's music videos on Youtube
    </p>

    <div class="form-horizontal">
    <%= form_for [@band, @band_video], url: band_band_videos_path(@band.name) do |form| %>

      <%= render partial: form %>

  	<% end %>

  </div>
  </div>
</div>