<div class="help-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline">Need Help?</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <h2>Too Bad</h2>
      <p>We have our own problems.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <h3> Accounts </h3>
      <ul>
        <li> <%= link_to "Creating your account", {controller: "static_pages/help", 
          action: "creating_account"} %></li>
        </ul>

        <h3> Site Navigation </h3>
        <ul>
          <li> <%= link_to "The Basics", {controller: "static_pages/help", 
            action: "basic_site_nav"}%></li>
          </ul>
        </div>  
      </div>
    </div>

    <br><br><br>