<section id="intro" class="intro">
    <div class="slogan">
        <h1>This is Tremelo.</h1>
        <p>Share your music life with others</p>

      <% if !logged_in? %>

        <div class="container">
            <div class="row">
              <%= link_to " Log In", login_path,
              class: "btn btn-intro fa gn-icon-login" %>
              <h4 id="home">OR</h4>
              <%= link_to " Register now",register_path,class: "btn btn-intro fa fa-pencil-square-o" %>
            </div>
        </div>

      <% end %>

    </div>  
</section>