<% provide(:title, "Notifications") %>
<div>
	<% if @notifications.count == 0 %>
		<p> You have no notifications.
	<% else %>
		<% for note in @notifications %>
			<% if note.is_band_invite? %>
				<%= render partial:'band_invite', locals: {band_invite: note} %>
			<%else %>
				<h3> Notification</h3>
				<%= note.content %>
				<%= link_to "Delete", destroy_notification_path(id: note.id) %>
			<% end %>
			<hr>
		<% end %>
	<%end%>
</div>