<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to "Create a new Band", {controller: "bands", action: "new", user_id: @user.id} %>
<br><br>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
