<% provide(:title, 'User search results') %>

<h1> Search Results! </h1>
<%= link_to "Search again?", search_users_path %><br><br>


Searching by: <br>
<ul>
<% for it in @searching_by %>
	<%= it %> <br>
<%end%>
</ul>

<% if @results.empty? %>

<h2> No results </h2>

<% else %>
	<ul>
	<% for result in @results %>
		<li>
			 <%= link_to "#{result.display_name}", result %>
			<!-- Display the user's tags to make it clear which users play what-->
			<% for user_tag in UserTags.where(user_id: result.id) %>
          	<% tag = Tag.find(user_tag.tag_id) %>
          	<%= content_tag(:span, "#{tag.content}", :class => 'label label-danger', 
          	:style => "background-color: rgb(#{tag.get_red},#{tag.get_green},#{tag.get_blue}") %>
        	<%end%>
        </li>
	<%end%>
	</ul>
<%end%>