<% provide(:title, "Editing Your Profile") %>

<h2> So you want to customize your profile? </h2>
 <p> Well then you came to the right place! On this page, you'll learn everything you need to know about editing and cuztomizing your profile! </p>
 <br><br>

 <p> To access the edit page, go to your profile page and click on 'Edit Profile' on the bottom-left.</p>
 <p> Most of this form should look familiar, but you should notice a few differences. </p>

 <h3> Profile Picture</h3>
 <p> Yes! You can choose your own profile picture! As cool as the note-man is, you will probably want a picture more personal to you.  So go ahead and select "Browse", and select your new profile picture!</p>
 <p> NOTE: The profile picture will be adjusted to be 300x300, so the closer your image is to this size, the better!</p>

 <h3> Edit Bands </h3>
 <p> What's this? "Bands?" That is correct! You can form and join bands here on Tremelo! </p>
<p> Select "Create a new band", and you will be brought to the page to create a new band! To get help with bands, <strong> Click here</strong></p>

<br>
<p> You can also choose to leave bands that you are currently a part of. </p>

<h3> Profile Picture... Again?! </h3>
<p> Yes. </p>
<br><br>

<h3> Edit Tags </h3>
<p> Tags? What are tags? </p>
<p> Well I'm glad you asked! Tags are important in distinguishing yourself as a unique musician! </p>
<p> Select the instruments that you can play, and they will be displayed on your profile page. Other users will also be able to search for you by these tags. </p>