<% provide(:title, "Delete Music") %>

<div class="container">
  <div class="col-md-8 col-md-offset-2">

  	<h1 class="page-heading">Out with the old, in with the new</h1>
  	<p class="subtitle">
  		Delete any songs or playlists you no longer want to display
  	</p>

  	<div class="form-horizontal">
  		<%= form_tag destroy_musics_band_path, method: :put do %>
    		<p>
          Don't like an old song or playlist? Select any you don't like, then click "Delete Music"
        </p>

        <div class="form-group">
          <div class="col-md-6">
            <% for music in BandMusic.where(band_id: @band.id) %>
            <%= check_box_tag "music_ids[]", music.id %>
            <%= music.name %>
            <% end %> 
          </div>
        </div>

    		<%= submit_tag "Delete Music", class: "btn btn-block" %>
    	<% end %>

  	</div>
	</div>
</div>