
<h1> <%= @band.name %>'s Band Page </h1>
<!-- Current image sizes are thumb and medium, more can be defined within the band model-->
<%= image_tag @band.profile_picture.url(:medium) %> 
<% @userbands = UserBand.where(band_id: @band.id)%>
<% if @userbands.empty?%>
	<h3> No users are  member of this band</h3>
<% else %>
	<h4> Members</h4>
	<ul>
	<% @userbands.each do |userband| %>
		<% user = User.find(userband.user_id) %>
		<li> <%= link_to user.display_name, user%> </li>
	<%end%>
	</ul>
<% end %>
<% loggedin_userband = UserBand.find_by(user_id: session[:user_id], band_id: @band.id) %>
<% if !loggedin_userband.nil?%>
<% if loggedin_userband.admin_priveleges == 1 %>
<%= link_to 'Edit', edit_band_path(@band) %>
<%end%>
<%end%>
