<h1> <%= @band.name %>'s Band Page </h1>

<% @userbands = UserBand.where(band_id: @band.id)%>
<% if @userbands.empty?%>
	<h3> No users are  member of this band</h3>
<% else %>
	<ul>
	<% @userbands.each do |userband| %>
		<% user = User.find(userband.user_id) %>
		<li> <%= user.name %> </li>
	<%end%>
	</ul>
<% end %>
