/* ===========================
--- Home Page
============================ */

.intro {
  width:100%;
  position:relative;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#intro { 
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url(image-path('homepage_bg.jpg'));
    background-size: cover;
}

.intro .slogan {
  padding: 100px 0 30px;
  text-align: center;
  
}

#header {
  color: #fff;
  line-height: 1.1em;
  margin-bottom: 5px;
  font-size: 40px;
  letter-spacing: -0.03em;
}

.intro .slogan p {
  color: #eee;
  margin-bottom: 50px;
  font-size: 20px;
}

.brand-heading {
  font-size: 40px;
}

.intro-text {
  font-size: 18px;

}

h4#home {
    margin: 20px 0 20px 0;
    padding: 0;
    color: #F4F4F4;
    letter-spacing: 2px;
}

.btn-intro {
  @extend .btn;
  border: 3px solid white;
  
  &:visited {
    color: white;
  }

  &:hover, &:active, &:focus { 
    background: white;
    color: #666;
  }

}

/* ============================
--- About Page
============================= */

.about-header {
  position: relative;
  height: 400px;
  background: url(image-path('aboutpage_bg.jpg')) center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.tagline {
    font-size: 55px;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

/* ============================
--- Help Page
============================= */

.help-header {
  @extend .about-header;
  background: url(image-path('helppage_bg.jpg')) center center no-repeat scroll;
}

/* ============================
--- Forms
============================= */

h1.page-heading {
    text-align: center;
    font-size: 38px;
    margin-bottom: 10px;
}

.subtitle {
  text-align: center;
}

.input-group {
  margin-top: 15px;
}

/* ============================
--- Error Messages
============================= */

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
