.display-name {
  font-size: 50px;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.progress-bar-warning {
    background: orange;
}

#online-indicator {
  position: relative;
  margin: 0 0 0 65%;
  background-color: lime;
  width: 22px;
  height: 22px;
  border: 2px solid #666;
  border-radius: 100px;
}